{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group row">
                <legend class="border-bottom mb-4">ADD PRODUCT</legend>
              
                </div>
               
                <div class="form-group">
                        {{ form.productname.label(class="form-control-label") }}
                        {% if form.productnameerrors %}
                        {{ form.productname(class="form-control-label form-control-lg") }}
                        <div class="invalid-feedback">
                                {% for error in form.productname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.productname(class="form-control col-xs-3") }}
                        {% endif %}
                </div>
    

                <div class="form-group">
                        {{ form.productID.label(class="form-control-label") }}
                        {% if form.productID.errors %}
                        {{ form.productID(class="form-control-label form-control-lg") }}
                        <div class="invalid-feedback">
                                {% for error in form.productID.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.productID(class="form-control col-xs-3") }}
                        {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.productcategory.label(class="form-control-label") }}
                    {% if form.productcategory.errors %}
                        {{ form.productcategory(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.productcategory.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.productcategory(class="form-control col-xs-3") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.productdescription.label(class="form-control-label") }}
                    {% if form.productdescription.errors %}
                        {{ form.productdescription(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.productdescription.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.productdescription(class="form-control col-xs-3") }}
                    {% endif %}
                </div>

        
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    
{% endblock content %}